.board-piece {
  background: $piece-bg;
  border: 1px solid #ddd;
  float: left;
  height: $piece-size;
  text-align: center;
  width: $piece-size;

  &.bg-1 {
    background: $red-piece;
  }

  &.bg-2 {
    background: $yellow-piece;
  }
}
