.board {
  margin: 4em auto 0 auto;
  width: $piece-size * 7 + 14;

  .board-piece {
    &:nth-child(8),
    &:nth-child(15),
    &:nth-child(22),
    &:nth-child(29),
    &:nth-child(36),
    &:nth-child(43) {
      clear: both;
    }
  }
}
