.board-piece {
  background: $piece-bg;
  border: 1px solid #ddd;
  float: left;
  height: 4em;
  width: 4em;

  &.bg-1 {
    background: $red-piece;
  }

  &.bg-2 {
    background: $yellow-piece;
  }
}
